<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h2>Добро пожаловать на страницу пользователя <span th:text="${user.getUsername()}"></span>!</h2>
<br>
<div>
    fisrtname <span th:text="${user.getFirstName()}"></span><br>
    username <span th:text="${user.getUsername()}"></span><br>
    password <span th:text="${user.getPassword()}"></span><br>
    lastname <span th:text="${user.getLastName()}"></span>.<br>
    email <span th:text="${user.getEmail()}"></span>.<br>
</div>
<br>
<hr>
<form th:method="GET" action="/logout">
    <input type="submit" value="Выйти">
</form>
</body>
</html>
